.btm_nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.sub_head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
}
.sub_head2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000099;
}
.sub_head3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000099;
}
.lines{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	font-style: normal;
	font-weight: normal;
	color: #515100;
}
.field_text {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.field_text2 {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000099;
}
.index_text {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000099;
}
.xxd {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}
.xxe {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.index_text2 {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000099;
}
.index_text3 {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000099;
	}
.motion {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.motionx {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000099;
}
.motionw {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000099;
}
.sub_menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
	list-style-position: outside;
	list-style-image: url(../images/arrow.gif);
	list-style-type: circle;
	text-indent: 4px;
}
.sub_menu2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
	list-style-position: outside;
	list-style-image: url(../images/arrow.gif);
	list-style-type: circle;
	text-indent: 4px;
}
.sub_menu3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000999;
	list-style-position: outside;
	list-style-image: url(../images/arrow.gif);
	list-style-type: circle;
	text-indent: 4px;
}
.sub_menu4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
	list-style-position: outside;
	list-style-image: url(../images/arrow.gif);
	list-style-type: circle;
	text-indent: 4px;
}
.sub_menu5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
	list-style-position: inside;
	list-style-image: url(../images/arrow.gif);
	list-style-type: circle;
	text-indent: 4px;
}
.sub_menu6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #000999;
	list-style-position: outside;
	list-style-image: url(../images/arrow.gif);
	list-style-type: circle;
	text-indent: 4px;
}
