/* Header example */
.example { 
margin: 80px auto 40px; 
}

.example button, .example button { 
background: aaa; 
border: 1; 
color: #000; 
opacity: .5; 
}

.example button:hover, .example button:hover { 
opacity: 1; 
}

.example button:disabled, .example button:disabled { 
opacity: .2; 
}

.example .forward, .example .backward { 
float: left; 
width: 100px; 
height: 180px; 
font-size: 60px; 
}

.example .forward { 
float: right; 
}

.example .frame { 
position: relative;
top: -55px;
left:12px;
margin: 0 auto; 
width: 920px; 
height: 180px; 
line-height: 180px; 
overflow: hidden; 
text-shadow: none; 
float:left;
}

.example .frame ul { 
list-style: none; 
margin: 0; 
padding: 0; 
height: 100%; 
font-size: 50px; 
}

.example .frame ul li { 
float: left; 
width: 250px; 
height: 100%; 
margin: 0 1px 0 0; 
padding: 0; 
background: #eee; 
color: #3a3c47; 
text-align: center; 
cursor: pointer; 
}

.example .frame ul li.active { 
color: #000; 
background: #82bf4c; 
}


.example .scrollbar { 
margin: 0 auto 30px; 
width: 920px; 
height: 2px; 
line-height: 0; 
}

.example .scrollbar .handle { 
width: 100px; 
height: 100%; 
background: #fff; 
cursor: pointer; 
}

.example .scrollbar .handle .mousearea { 
position: absolute; 
top: -9px; left: 0; 
width: 100%; 
height: 20px; 
}


.example .pages { 
list-style: none; 
margin: 20px 0; 
padding: 0; 
text-align: center; 
}

.example .pages li { 
display: inline-block; 
width: 14px; 
height: 14px; 
margin: 0 4px; 
text-indent: -999px; 
border-radius: 10px; 
cursor: pointer; 
overflow: hidden;
	background: #fff; 
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.example .pages li:hover { 
background: #aaa; 
}

.example .pages li.active { 
background: #666; 
}


.example .controls {
position: relative;
width: 940px;
top: -75px;
right:5px;
margin: 20px 0 0; 
text-align: right; 
}

.example .controls .divider { 
display: inline-block; 
margin: 0 5px; 
}

.example .controls button { 
line-height: 17px; 
vertical-align: middle; 
font-family: Novecento, sans-serif; 
}

.example .controls button i { 
position: relative; 
top: -2px; 
margin: 5px; 
padding: 0; 
font-size: 17px; 
vertical-align: middle; 
}

/* 3D shenanigans */
.no-ie.csstransforms3d .frame {
	height: 180px;
	line-height: 180px;
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
.no-ie.csstransforms3d .frame ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.no-ie.csstransforms3d .frame ul li {
	position: relative;
	margin: 0 -25px;
	border: 1px solid #3e404a;
	-webkit-transform: rotateY(60deg) scale(0.9);
	-ms-transform: rotateY(60deg) scale(0.9);
	transform: rotateY(60deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
}
.no-ie.csstransforms3d .frame ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.no-ie.csstransforms3d .frame ul li.active ~ li {
	-webkit-transform: rotateY(-60deg) scale(0.9);
	-ms-transform: rotateY(-60deg) scale(0.9);
	transform: rotateY(-60deg) scale(0.9);
}